@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.effect {
  visibility: hidden;
}

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen img {
  will-change: transform;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.bg {
  transform: scale(2);
}

.dark {
  background: #000;
}

h1 {
  will-change: transform;
  font-size: 300vw;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto';
}

.blendImage {
  transform: scale(2);
  mix-blend-mode: darken;
}